<app-header></app-header>

<div class="form-control">
  <input type="text" placeholder="Find Task" [(ngModel)]="searchStr">
</div>


<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title Task</th>
      <th>Description</th>
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let task of tasks | searchTasks: searchStr; let idx = index">
      <td>{{idx + 1 }}</td>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.date}}</td>
      <td>{{task.time}}</td>
      <td>
        <button [routerLink]="['/change-task', task.id]"  >
          Edit
        </button>

        <button (click)="remove(task.id)">
           Delete
        </button>
      </td>
    </tr>
  </tbody>

</table>




<!-- <div class="wrapper">

<app-scroll-bar></app-scroll-bar>

<app-scroll-bar></app-scroll-bar>

<app-current-task ></app-current-task>

<app-current-task></app-current-task>

<app-current-task ></app-current-task>

<app-button routerLink="/add-new-task"></app-button>

</div> -->
