<div class="wrapper">

  <div class="current-task">

     <div class="corrent-task__info">

      <div class="current-task__info-title">
        <span>Title current task</span>
      </div>

      <div class="current-task__info-time">
        <span>Time current task</span>
      </div>

      <div class="current-task__info-description">
        <span>Crrent task description</span>
      </div>

      <div class="current-task__info-copmlete">
        <button> Toogle </button>
      </div>

    </div>

    <div class="current-task__control">

      <div class="current-task__control-status">
          <div class="status">  </div>
      </div>

      <div class="current-task__control-change">
        <div class="change"></div>
      </div>

    </div>

  </div>

</div>
