<div class="control">

  <div class="prev">
    <input type="button" (click)="decreaseMonth()"value="-" />


  </div>

<div class="calendar" *ngIf="calendar">

  <ul *ngFor="let row of calendar | chunk: 7; let i = index">

    <li  [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}"
    *ngFor="let c of row; let j = index">

    <time class="icon block">

        <span class="month">  {{monthNames[c.date.getMonth()]}}</span>

        <span class="day">{{c.date.getDate()}}</span>

        <span class="week">{{dayNames[c.date.getUTCDay()]}}</span>

      </time>

    </li>

  </ul>

</div>

<div class="next">

  <input type="button"  (click)="increaseMonth()"  value="+" />
</div>

</div>
