<div class="control">

  <div class="control__item">

  <div class="prev">
    <input type="button" class="wrapper__button" (click)="decreaseMonth()"value="-" />


  </div>

<div class="calendar" *ngIf="calendar">

  <ul  *ngFor="let row of calendar | chunk: 2; let i = index" >


    <app-day *ngFor="let date of row" [date]="date" (onAddEvent)="chooseDate(date)"></app-day>

  </ul>

</div>

<div class="next">

  <input class="wrapper__button" type="button"  (click)="increaseMonth()"  value="+" />
</div>

</div>

<div class="control__currentDate">
<input class="wrapper__button"  type="button" (click)="setCurrentMonth()"value="Current date">

</div>



</div>

